<!DOCTYPE html>

<style>
.footer {text-align: center;}
</style>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>About SizeAdvice </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">


      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>About us</h2>
        <p class="lead">SizeAdvice helps you find the right size across different brands based on the size that you own in any brand. Try the
        service and the recommendations will improve as we get more inputs. Tell your friends.</p>

      </div>


      </div>
</div>

<p></p>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; SizeAdvice 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

    </div>
  </div>
