

<!DOCTYPE html>

<style>
.footer {text-align: center;}
</style>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>SizeAdvice Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">



      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>SizeAdvice</h1>
        <h2>Next time, get the right size the first time</h2>
        <p>

        </p>

        <form action="/search">
        <div class="form-group">
          <label>To see what type of weather you are sizing for, enter a city:</label>
          <input name="city" type="text" class="form-control input-md" placeholder="Example: Chicago, IL"> <!-- label the input -->
        </div>
         <p><a class="btn btn-md btn-success" href="weather/conditions" role="button">Get weather</a></p>
      </form>


      </div>



      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <a href="http://www.jcrew.com"><img width = 300 src = "http://2.bp.blogspot.com/_3E0IIOjAHPs/TUqpxjgLt3I/AAAAAAAAHHs/h6nfuH2OP9M/s400/JCrewLogo_Large2.jpg"></a>
        </div>
        <div class="col-lg-4">
           <a href="http://www.polo.com"><img width = 300 src = "http://images.buy4lesstuxedo.com/RalphLaurenLogo.png"></a>
       </div>
        <div class="col-lg-4">
          <a href="http://www.zara.com"><img width = 300 src = "http://www.calcados.com/files/2012/01/zara-logo.jpg"></a>
        </div>
        </div>
      <div class="row">
      <div class="col-lg-4">
          <a href="http://www.hm.com"><img width = 300 src = "http://fabulouslettersfromlisbon.files.wordpress.com/2012/03/marni_hm_logo_2_line_black_cmyk_en.jpg"></a>
        </div>
        <div class="col-lg-4">
          <a href="http://www.topman.com"><img width = 300 src = "http://cultureswarm.com/wp-content/uploads/2013/02/Topshop-logo.jpg"></a>
        </div>
        <div class="col-lg-4">
          <a href="http://www.armani.com"><img width = 300 src = "http://modeit.com/wp-content/uploads/2013/08/1_Giorgio-Armani-logo.jpg"></a>
        </div>
        </div>
          <div class="col-lg-4">
         <a href="http://www.ae.com"><img width = 250 src = "http://kspitzhoff.files.wordpress.com/2013/10/american-eagle3.gif"></a>
        </div>
         <div class="col-lg-4">
          <a href="http://www.bonobos.com"><img width = 300 src = "http://lexity.com/assets/apps/desk/learn_more/bonobos-logo-9c25511d1cb281345ffd70a8170b54e0.jpg"></a>
        </div>
        <div class="col-lg-4">
          <a href="http://www.bananarepublic.com"><img width = 210 src = "http://www.themodestman.com/wp-content/uploads/2012/10/Banana-Republic-Logo.jpg"></a>

        </div>
      </div>
</div>

<p></p>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; SizeAdvice 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

    </div>
  </div>


